<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil Bibliothèque</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h1>Application Bibliothèque</h1>
    <H2>Recherche</H2>
    <form th:action="@{/search/process}" method="get">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="search" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Entrez un titre" th:field="*{searchBean.title}">
            <small id="titleHelp" class="form-text text-muted">Insérez un mot présent dans le titre.</small>
        </div>
        <div class="form-group">
            <label for="author">Auteur</label>
            <input type="search" class="form-control" id="author" aria-describedby="authorHelp" placeholder="Entrez un auteur" th:field="*{searchBean.author}">
            <small id="authorHelp" class="form-text text-muted">Insérez le nom ou le prénom de l'auteur</small>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dispo">
            <label class="form-check-label" for="dispo">Que les livres avec exemplaires disponibles</label>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

</div>



<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>